@import './search-style.css';

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.buttons--add-more {
  display: flex;
  justify-content: center;
}

.buttons--add-more button {
  margin: 1em;
  padding: 0.5em;
  width: 100px;
  font-weight: bold;
  font-size: 1em;
}